<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            
            <button class="menu-icon" id="menuIcon"></button>
            
            <img class="imgI" src="/images/iconeIMC.png" alt="">

            <a class="tabPadrao" id="linkLogin" href="#">LOGIN</a>

            <a class="tabPadrao" id="linkSb" href="#">SAIBA MAIS</a>
            
        </nav>

        <div>
            <img class="imgP" src="/images/dsBuffer1.bmp.png" alt="">
        </div>

        <div class="overlay" id="overlay">
            <button class="close-button" id="closeButton">X</button>
            <div class="menu-options" id="menuOptions">
                <a href="#">LOGIN</a>
                <a href="#">SAIBA MAIS</a>
            </div>
        </div>

        <script src="/js/principal.js"></script>
        
    </header>
</body>

</html>