<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            
            <button class="menu-icon" id="menuIcon"></button>
            
            <!--<img class="imgI" src="/images/iconeIMC.png" alt="">-->

            <img class="imgI" src="/images/novoIcone.png" alt="">

            <a class="tabPadrao" id="linkLogin" href="#">LOGIN</a>

            <a class="tabPadrao" id="linkSb" href="#">SAIBA MAIS</a>
            
        </nav>

        <div>
            <img class="imgP" src="/images/dsBuffer1.bmp.png" alt="">
        </div>

        <div class="overlay" id="overlay">
            <button class="close-button" id="closeButton">X</button>
            <div class="menu-options" id="menuOptions">
                <a href="#">LOGIN</a>
                <a href="#">SAIBA MAIS</a>
            </div>
        </div>

        <script src="/js/principal.js"></script>
        
    </header>

    <div id="master">
        <div class="container">
            <div class="contentPost">
                <h1 class="textImc">IMC</h1>
                <h3 class="titleBlue">Cálculo IMC</h3>

                <p class="pIMC">
                    IMC é a sigla para Índice de Massa Corpórea, parâmetro adotado pela Organização Mundial de Saúde para calcular o peso ideal de cada pessoa.
                </p>
                <p class="pIMC">
                    O índice é calculado da seguinte maneira: divide-se o peso do paciente pela sua altura elevada ao quadrado. Diz-se que o indivíduo tem peso normal quando o resultado do IMC está entre 18,5 e 24,9.
                </p>
                <p class="pIMC">
                    Quer descobrir seu IMC? Insira seu peso e sua altura nos campos abaixo e compare com os índices da tabela. Importante: siga os exemplos e use pontos como separadores.
                </p>

                <div class="inputCalc">
                    <span>
                        "Altura"
                        <small>(ex.: 1,70)</small>
                    </span>
                    <input type="text" placeholder="Metros" name="" id="alturaInput" maxlength="4">
                </div>
                <div class="inputCalc">
                    <span>
                        "Peso"
                        <small>(ex.: 69,2)</small>
                    </span>
                    <input type="text" placeholder="Quilos" name="" id="pesoInput" maxlength="6">
                </div>
            </div>
        </div>
    </div>
</body>

</html>